<div class="text-center">
    <h1 class="text-info pt-4">Congratulations! You are now one step closer to your amazing food.</h1>
    <p class="pb-3">We've received your order. Your payment will be processed soon!</p>
    <img src="/images/order.png" width="75%"/>
</div>